body{
    background-color: #ced4da;
}
*{
    margin:0;
    padding: 0;
}
nav{
    font-family:sans-serif;

}
nav ul{
    display: flex;
    list-style: none;
    height: 65px ;
    background-color: black;
    color: white;
    align-items: center;


}
nav ul li{
    padding: 0px 12px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}
.brand img{
    width: 44px;
    padding: 0px 8px;
}
.container{
    min-height: 66vh;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    background-color:rgba(0, 0, 0, 0.6);
    display: flex;
    margin: 23px auto;
    width: 70%;
    padding:34px ;
    border-radius: 12px;
    background-image:url('bgp.jpg');
    box-shadow: 20px 20px  10px #4a4e69 ;
}
.Bottom{
    position:sticky;
    height: 130px;
    bottom:0;
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    
    flex-direction: column;
    
}
#myProgressbar{
    
    width: 80vw;
    cursor: pointer;
    
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
.songItemContainer{
    margin: 34px ;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: #d3d3d3;
    
    color: black;
    margin: 12px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width: 43px;
    margin: 0px 23px;
    border-radius: 34px;
    

}
.timestamp{
    margin: 0px 23px;
   
    
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Courier New', Courier, monospace;

}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4 ease-in;
}
